/******************************************************************

Stylesheet: 600px以上のモニタで適用

******************************************************************/

.c-txt-md {
  font-size: 1.6rem;
}

.c-txt-sm {
  font-size: 1.1rem;
}

.c-txt-xs {
  font-size: 0.8rem;
}

.c-container {
  padding: 0 10vw;
}

.c-img01 {
  margin: 0 -10vw;

  & img {
    height: 45vh;
  }
}

.readmore {
  font-size: 20px;
}

//header
.header {
  & .sp-navbtn {
    display: none;
  }

  & .logo__img {
    & .logo {
      margin-top: 3.5vw;
      height: 57px;
      width: 146px;
    }
  }

  & .mobile-container {
    & .mobile-button {
      top: 32px;
      right: 55px;
    }
  }
}

//#top
.p-top {
  padding-bottom: 10vw;

  & .swiper-container {
    height: 100vh;
  }

  & .scrolldown {
    font-size: 16px;
    bottom: -70px;
  }
}

//#info
.p-info {
  margin-bottom: 10vw;

  &__time {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;

    & div {
      width: 33%;
    }
  }
}

//#concept
.p-concept {
  padding-bottom: 10vw;

  .c-img {

    & img {
      height: 45vh;
    }
  }

  &__img {
    width: 70%;
  }

  .c-txtarea {
    top: 28%;
    left: 45%;
    width: 50%;

    & .ja {
      font-size: 0.8rem;
    }
  }

  .p-speciality {
    margin-top: 30vw;

    &__item {
      & img {
        height: 300px;
      }
    }

    &__subtit {
      font-size: 1rem;
      margin: 3vw 0;
    }

    &__txt {
      font-size: 0.8rem;
    }
  }
}

//#instagram
.p-instagram {
  padding-bottom: 10vw;

  &__img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & img {
      width: 50%;
    }
  }
}

//#menu
.p-menu {
  padding-bottom: 10vw;

  & .view-pc {
    display: none;
  }

  &__img {
    width: 70%;
  }

  .c-txtarea {
    top: 28%;
    left: 45%;
    width: 50%;

    & .ja {
      font-size: 0.8rem;
    }
  }
}

//#access
.p-access {
  padding-bottom: 10vw;

  &__img {
    width: 70%;
  }

  .c-txtarea {
    top: 28%;
    left: 45%;
    width: 50%;

    & .ja {
      font-size: 0.8rem;
    }
  }
}

//#news
.p-news {
  padding-bottom: 15vw;

  &__item {
    padding: 3vw 5vw;
  }
}

//news-page
.news {
  padding-top: 18vw;

  & .c-title02 {
    margin-bottom: 0;
  }

  & .c-container {
    padding: 0 10vw 10vw 10vw;
  }
}

//mobile-menu
.mobile-menu {
  &__ul {
    padding-left: 15vw;
  }

  &__li {
    font-size: 1.5rem;
    margin-bottom: 60px;
  }

  & address {
    padding-left: 15vw;

    & a {
      & span {
        font-size: 1.5rem;
      }
    }
  }
}

//* *  * * * * * * * concept-page * * * * * * * * * *
.cp-top {
  padding-bottom: 35vw !important;

  & .c-title {
    & span {
      font-size: 2rem;
      color: $cBlack;
    }
  }

  & .c-txtarea {
    top: 80vw;
  }
}

//* * * * * * * * * menu-page * * * * * * * * * *
.superwrapper {
  .menu-top {
    margin-bottom: 10vw;
  }

  .menu-contents {
    .menu-title {
      padding-bottom: 10vw;
    }
  }
}

//* * * * * * * * * access-page * * * * * * * * * *
.superwrapper {
  .ac-top {
    margin-bottom: 8vh;

    & .c-title {
      & span {
        font-size: 2rem;
      }
    }

    .access-top__img {
      height: 60vh;
    }
  }

  .g-map {
    &__wrap {
      margin: 5vw 0;
      padding: 5vw 0;

      & iframe {
        width: 60%;
      }
    }
  }
}

//* * * * * * news-page * * * * * * *
.superwrapper {
  .news {
    padding-top: 10vw;

    & .c-container {
      padding: 0 10vw 10vw 10vw;
    }

    & .c-title02 {
      margin-bottom: 0;
    }

    &__list {
      & a {
        padding: 3vw 0 5vw 3vw;
      }
    }

    & .next {
      display: none;
    }
  }
}

//* * * * * * news-single-page * * * * * * *
.superwrapper {
  .news {
    & .p-news__block {
      padding: 0;
    }

    & .num {
      padding-left: 0;
    }
  }
}