body {
  font-family: "Josefin Slab", serif;
  font-family: "Noto Serif JP", serif;

  &.hidden {
    overflow: hidden;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-container {
  padding: 0 5vw;
}

.superwrapper {
  overflow: hidden;
}

.c-txt-md {
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cSubBlack;
}

.c-txt-sm {
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cSubBlack;
}

.c-txt-xs {
  font-size: 0.7rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cSubBlack;
}

.page-link {
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(66, 66, 66);
}

.c-img01 {
  margin: 0 -5vw;
  height: 55vh;
}

.bg {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: $cBlack;
    opacity: .3;
    z-index: 10;
  }
}

.c-title {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 100;
  white-space: nowrap;

  & span {
    font-size: 2rem;
    font-weight: 300;
    color: $cBlack;
    letter-spacing: 2vw;
  }

  & .num {
    padding-left: 3vw;
  }

  & .txt {
    position: relative;
    padding-left: 12vw;

    &::before {
      position: absolute;
      top: 53%;
      left: 0;
      content: "";
      display: inline-block;
      height: 1px;
      width: 8vw;
      background-color: $cGray;
    }
  }
}

.c-title02 {
  padding-bottom: 10vw;

  & span {
    font-size: 2rem;
    font-weight: 300;
    color: $cBlack;
    letter-spacing: 2vw;
  }

  & .num {
    padding-left: 3vw;
  }

  & .txt {
    position: relative;
    padding-left: 12vw;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      content: "";
      display: inline-block;
      height: 1px;
      width: 8vw;
      background-color: $cGray;
    }
  }
}

.c-txtarea {
  position: absolute;
  top: 60%;
  left: 0;
  margin: 0 5vw;
  padding: 5vw;
  padding-bottom: 8vw;
  background-color: rgb(248, 245, 245);
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 3px 3px 3px rgb(235, 235, 235);
  z-index: 100;

  & .ja {
    letter-spacing: 3px;
    line-height: 2.2;
    color: $cSubBlack;
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 4vw;
  }
}

.c-txt02 {
  font-size: 1.1rem;
  margin-bottom: 5vw;
}

.readmore {
  padding-bottom: 1.5vw;
  letter-spacing: 3px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.more-link {
  color: $cSubBlack;
}

.icon-map {
  position: relative;

  &::before {
    content: "";
    display: block;
    background-image: url(/images/home/icon-map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    width: 17px;
  }
}

.icon-tel {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 0;
  background-image: url(/images/common/tel-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 12px;
}

.icon-net {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 0;
  background-image: url(/images/common/icon-link-1-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 13px;
  width: 13px;
}

.icon-insta {
  position: relative;
  padding-left: 30px;
  color: $cBlack;
  border-bottom: 1px solid $cGray;
  padding-bottom: 5px;
  font-size: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-image: url(/images/home/icon-insta-gr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
  }

  @media (min-width:960px) {
    font-size: 34px;
    padding-left: 40px;

    &::before {
      height: 30px;
      width: 30px;
    }
  }
}

//#header
.header {
  width: 100%;

  & .logo__img {
    display: inline-block;
  }

  & .logo {
    background-image: url(/images/home/riv_logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 3vw 0 0 5vw;
    height: 44px;
    width: 110px;
    transition: all 0.3s;
  }

  & .menu-open {
    &.logo {
      transition: all 0.3s;
      background-image: url(/images/home/riv_logo.png) !important;
    }
  }

  & .inview {
    &.logo {
      transition: all 0.3s;
      background-image: url(/images/home/riv_logo-white.png);
    }
  }

  & .logo-gr {
    overflow: hidden;
  }

  & .sp-navbtn {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $cBlack;
    opacity: 0.7;
    height: 7.5vh;
    width: 100%;
    z-index: 2000;
    transition: all.3s;
    backdrop-filter: blur(3px);

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 77vw;
      margin: auto;

      & a {
        position: relative;
        color: $cWhite;
        font-size: 14px;
        letter-spacing: 1px;
        display: block;
        padding-right: 18px;
      }

      & .tel {
        letter-spacing: 2px;
      }

      & a:hover,
      a:active {
        text-decoration: underline;
      }
    }
  }

  & .hide {
    &.sp-navbtn {
      visibility: hidden;
      transform: translateY(50px);
      transition: all 0.4s;
    }
  }

  @media (max-width: 959px) {
    & .pc-container {
      display: none;
    }
  }
}

//#top
.p-top {
  position: relative;
  padding-bottom: 20vw;

  &__txtarea {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 100;

    & .main {
      padding-bottom: 9vw;

      & p {
        font-weight: 100;
        color: $cWhite;
      }
    }

    & .sub {
      & p {
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 2;
        color: $cWhite;
      }
    }
  }

  & .swiper-container {
    height: 93vh;

    @media (max-width: 959px) {
      & .view-pc {
        display: none;
      }
    }
  }
}

//#info
.p-info {
  margin-bottom: 20vw;

  & h3 {
    font-size: 0.95rem;
    color: $cBlack;
    padding-bottom: 4vw;
  }

  & .c-txt-sm,
  & .c-txt-xs {
    padding-bottom: 5vw;
  }

  &__time {
    padding-bottom: 6vw;
  }

  & .close {
    padding: 0;
  }
}

//#concept
.p-concept {
  position: relative;
  padding-bottom: 40vw;

  & .c-txtarea {
    top: 38%;
  }

  & .c-title {
    top: 0;

    & span {
      color: #fff;

      &::before {
        background-color: #fff;
      }
    }
  }
}

//#instagram
.p-instagram {
  padding-bottom: 35vw;

  &__img {
    padding: 0 5vw;
  }

  .insta-link {
    margin-top: 50px;
    text-align: right;
  }
}

//#menu
.p-menu {
  position: relative;
  padding-bottom: 35vw;

  & .c-title {
    & span {
      color: $cWhite;

      &::before {
        background-color: $cWhite;
      }
    }
  }

  & .c-txtarea {
    top: 40%;
  }
}

//p-access
.p-access {
  position: relative;
  padding-bottom: 80vw;

  & .c-title {
    & span {
      color: $cWhite;

      &::before {
        background-color: $cWhite;
      }
    }
  }

  & .c-txtarea {
    top: 60%;
  }
}

//news
.p-news {
  position: relative;
  padding-bottom: 40vw;

  &__list {
    padding-bottom: 8vw;
  }

  &__item {
    padding: 5vw 5vw;
    border-top: 1px solid rgb(216, 216, 216);

    &:last-child {
      border-bottom: 1px solid rgb(216, 216, 216);
    }
  }

  &__date {
    letter-spacing: 2px;
    border: 1px solid rgb(240, 240, 240);
    padding: 0.5vw;
    background-color: rgb(250, 250, 250);
    border-radius: 5%;
  }

  &__tit {
    padding-top: 5vw;
  }

  &__link {
    color: $cBlack;
  }
}

//footer
.footer {
  padding: 12vw 0;
  background-color: rgb(70, 70, 70);

  .c-container {
    padding: 0 12vw;
  }

  .c-logo {
    margin: 3vw 0;

    & img {
      height: 31px;
      width: 92px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  & .c-txt-xs {
    color: rgb(240, 240, 240);
  }

  & .google-map {
    position: relative;
    margin-top: 4vw;
    padding-left: 5vw;
    color: rgb(240, 240, 240);
    font-size: 0.8rem;
    letter-spacing: 1px;

    &::before {
      position: absolute;
      top: 4px;
      left: 0;
      content: "";
      display: block;
      height: 17px;
      width: 15px;
      background-image: url(/images/home/g-map-white.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__item {
    padding-top: 3vw;

    & li {
      padding-bottom: 3vw;
    }

    & .nav-time {
      @media (min-width: 600px) {
        display: flex;

        & .head {
          padding-right: 1vw;
        }
      }
    }

    & .nav-tel {
      & a {
        color: rgb(240, 240, 240);
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5vw;

    &__item {
      font-size: 1rem;

      & a {
        color: rgb(240, 240, 240);
      }
    }
  }

  & .copyright {
    color: $cWhite;
    font-weight: 100;
    font-size: 0.7rem;
    letter-spacing: 5px;
  }
}

/******************************************************************

Stylesheet: CONCEPT

******************************************************************/
.cp-title {
  font-weight: 100;
  letter-spacing: 2px;
  width: 80%;
  margin: 2rem auto;
}

//cp-top
.cp-top {
  position: relative;
  padding-bottom: 40vw;

  &__img {
    height: 60vh;
  }

  & .c-title {
    top: 37%;
    left: 8%;

    & span {
      color: $cWhite;

      &::before {
        background-color: $cWhite;
      }
    }
  }

  & .c-txtarea {
    top: 60%;

    & .ja {
      font-size: 0.9rem;
    }
  }
}

//cp-speciality
.cp-speciality {
  padding-bottom: 10vw;

  &__txtarea {
    width: 80%;
    margin: 2rem auto;
    line-height: 2;
    letter-spacing: 3px;
  }

  &__subtit {
    margin: 5vw 0;
    font-weight: 100;
  }

  &__txt {
    font-size: 0.8rem;
  }
}

/******************************************************************

Stylesheet: MENU

******************************************************************/
.menu-top {
  position: relative;
  margin-bottom: 10vw;

  &__img {
    height: 60vh;

    &__cover {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(5, 12, 71);
      z-index: 800;
      opacity: 0.23;
    }
  }

  & .c-title {
    z-index: 900;
    top: 30%;
    left: 8%;

    & span {
      color: $cWhite;

      &::before {
        background-color: #fff;
      }
    }
  }

  .c-txt-md {
    margin-top: 5vw;
    text-align: center;
  }
}

.menu-contents {
  padding: 0 12vw;
  margin-bottom: 20vw;
  font-weight: 100;

  .menu-title {
    letter-spacing: 3px;
    padding-bottom: 18vw;

    & span {
      font-weight: 100;
    }

    & p {
      padding-top: 5vw;
      font-size: 0.8rem;
      font-weight: 100;
      line-height: 2.5;
    }
  }
}

/******************************************************************

Stylesheet: ACCESS

******************************************************************/

.ac-top {
  position: relative;
  margin-bottom: 15vw;

  &__img {
    height: 50vh;

    &__cover {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(5, 12, 71);
      z-index: 1000;
      opacity: 0.23;
    }
  }

  & .c-title {
    z-index: 900;
    top: 30%;
    left: 8%;

    & span {
      color: $cWhite;

      &::before {
        background-color: $cWhite;
      }
    }

    & p {
      padding-top: 7vw;
      font-size: 1.3rem;
      line-height: 2;
      color: $cWhite;
      font-weight: 100;
    }
  }
}

.g-map {
  & h3 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 1.4rem;
    font-weight: 100;
    color: $cSubBlack;
  }

  &__wrap {
    margin: 10vw 0;
    padding: 10vw 0;
    text-align: center;
    background-color: rgb(248, 248, 248);

    & .google-map-link {
      & a {
        position: relative;
        display: inline-block;
        color: $cBlack;
        margin-top: 15px;
        padding: 0 0 4px 20px;
        border-bottom: 1px solid $cSubBlack;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 4px;
          left: 0;
          height: 16px;
          width: 16px;
          background-image: url(/images/common/icon-map.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

/******************************************************************

Stylesheet: NEWS

******************************************************************/
.news {
  padding-top: 10vw;

  .c-container {
    padding: 0 10vw 30vw 10vw;
  }

  .c-title02 {
    margin-bottom: 10vw;
  }

  .page-numbers:not(.next):not(.prev) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cBlack;

    & .current {
      border: 1px solid rgba(0, 0, 0, 0);
      background: #dffde2 !important;
    }

    & .page-numbers:not(.next):not(.prev) {
      width: 10vw;
      height: 10vw;
      border-radius: 100%;
      border: 1px solid #c4ccd1;
      background: #fff;
      margin: 0 1.3vw;
    }

    & .next {
      position: absolute;
      right: 0;
      padding-right: 14px;

      &::after {
        transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
        content: "";
        position: absolute;
        right: 0;
        background-image: url(/images/icon_arrow--right.svg);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: calc(50%);
        width: 6px;
        height: 10px;
        margin-left: 8px;
      }
    }

    @media (max-width: 767px) {
      & .next {
        display: none;
      }
    }

    @media (min-width: 768px) {
      & .page-numbers:not(.next):not(.prev) {
        width: 40px;
        height: 40px;
      }

      & .next {
        top: 8px;
      }
    }
  }

  .p-news__contents {
    line-height: 2;
    font-size: 0.8rem;
  }

  .p-news__title {
    margin-bottom: 10vw;
  }

  .p-news__block {
    padding: 8vw 0;
  }
}